@layer components {
  .form-label {
    @apply block text-xs font-medium text-gray-700 mb-2;
  }

  /* O padrão sempre é baseado em 12 colunas */
  .form {
    @apply grid grid-cols-1 sm:grid-cols-12 w-full gap-4;
  }

  .form-group {
    @apply col-span-1 sm:col-span-12;
  }
}
